//////////////////////////////
// Fonts
//////////////////////////////


////////////////////////////////////////////////////////////
// Named Colors : http://chir.ag/projects/name-that-color
// Sorted by groups and intensities
////////////////////////////////////////////////////////////


// White/Black/Gray
$colorWhite: #ffffff;
$colorBlack: #000000;

$colorGreyDark: #242424;

$colorCodGray: #181818;
$colorAlto: #DFDFDF;

$colorPrimaryBg: #d1ecf1;
$colorPrimaryBorder: #bee5eb;

// Default font family
$defaultFont: 'Arial', sans-serif;
